html {
	--black: #111111;
	--white: #fff;

	--color: #5e321f;
	--highlight: #aadee9;

	--shadow: rgba(0, 0, 0, 0.8);

	--corners: 10px; /* or whatevers */

	--standard: 1140px;
	--tight: 800px;
	--wide: 98vw;

	--paper: hsl(37, 32%, 92%); /* light brown */

	--ink: black;
	--highlight: hsl(360, 100%, 39%); /* red */
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: black; /* dark brown */
		--ink: white;
		--highlight: red;
	}

	.logo {
		fill: white;
	}
}
